
#search-bar {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;

    height: 0px;
    margin: -200px 0 0 -400px;
    z-index: 144;
    text-align: center;
}

#search-bar:before {
    content: "";
    opacity: 0.5;
}

#search-bar input {
    background-color: #1a2733;

    color: #fff;
    font-size: 25px;
    margin: 10px;
    width: 95%;
    outline: none;
    line-height: 45px;
    border: 1px solid #2e3845;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 75px;
}
#search-bar input:focus {
    box-shadow: 1px 1px 10px grey;
}

#search-bar img {
    width: 537px;
    height:  79px;
}

#search-bar input:visited {
    border: 0;
}