label {
    background-image: url("../../imgs/search.png");
}

#particles-js {
    background-color: #2e3845;
}

#DR-search-container {
    background-color: #1a2733;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 25px;
    width: 50%;
    min-width: 800px;
    outline: none;
    line-height: 45px;
    border: 1px solid #2e3845;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#DR-search-container input {
    width: 85%;
    float: left;
    height: 45px;
    outline: none;
    background-color: #1a2733;
    border: 0px;
}

#DR-search-container {
    box-shadow: 1px 1px 10px grey
}
#display {
    min-width: 1100px;
}

#render-picture {
    z-index: 2100;
    width: 90%;
    min-width: 1100px;
    background-color: transparent;
    height: 0;
    margin-left: auto;
    margin-right: auto;
}

#render-picture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-top: 50px;
}


.pic-container {
    width: 250px;
    position: relative;
    text-align: center;
    height: 210px;
    margin: 0 20px;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: rgba(106,206,233,0.02);;
    border: 1px solid rgba(106,206,233,0.1);
    box-shadow: 1px 1px 7px rgba(106,206,223,0.4);
    transition: all ease .5s;
}

.pic-container:hover {
    background-color: rgba(106,206,233,0);;
    border: 1px solid rgba(106,206,233,0.3);
    box-shadow: 1px 1px 20px rgba(106,206,223,0.6);
}

.img-containers {
    padding: 5px;
    width: 250px;
    overflow: hidden;

}
.img-container {
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    height: 160px;
    overflow: hidden;

}
.pic-container img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    height: 160px;
    transition: all 1s ease;

}


.pic-container img:hover {
    transform: scale(1.1);
    border: 0;
    box-shadow: 0px 0px 0px rgba(106,206,223,0.6);
}
.pic-container p {
    margin-top: 10px;
    z-index: 2000;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*点击显示大图*/

#display-large-container {
    width: 100%;
    min-width: 1100px;
    transition: all 2s ease;
    height: 0px;
    margin-top: 30px;
}

#display-large {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    position: relative;
    z-index: 20000;

}

#display-large div {
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}

#display-large img {
    width: 100%;
}

#pic-path {
    text-align: center;
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    line-height: 40px;
    margin-top: 30px;
    background-color: rgba(26,39,51,1);
    border: 1px solid rgba(46,56,69,0.7);
    box-shadow: 1px 1px 10px rgba(46,56,69,1);
    border-radius: 5px;
}

div#close-display {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2e3845;
    color: rgba(255,255,255,0.6);
    width: 36px;
    border-radius: 50%;
    line-height: 30px;
    margin: 0;
}

#close-display:hover {
    cursor: pointer;
    color: #fff;
    background-color: #1a2733;
}
#close-display p {
    margin: 0px;
    margin-left: 1px;
    font-size: 30px;
    text-align: center;
    padding-bottom: 6px;
}
#go-to-top {
    position: fixed;
    bottom: 20px;
    right: 50px;
    width: 40px;
    height: 40px;
}
#go-to-top a {
    height: 0;
    text-decoration: none;
}
#go-to-top img {
    width: 100%;
    height: 100%;
}

#go-to-top img:hover {
    cursor: pointer;
}